
/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');


/* Styles */


html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    padding-top: 2rem;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.wgArrowBack {
    font-size: 100%;
    margin: 0 15px 0 0;
}

.wgNavbar {
    background-image: linear-gradient(to right, #79ffff 0%, #e896ff 100%);
    box-shadow: 0px 0px 6px #000 !important;
}

.wgNavbar .wgBrand {
    font-size: 170%;
}

.wgNavbar .wgBrand .wgTitleIcon {
    color: rgba(30, 40, 180, 1.0);
    margin: 0 5px 0 0;
}

.wgNavbar .wgNavUser {
    font-size: 130%;
}

.wgNavbar .wgNavUser .wgNavUserIcon {
    margin: 0 13px 0 0;
    color: #1f6fb2;
    height: 30px;
    width: 30px;
    background-color: #fff;
    padding: 5px 6px 6px 7px;
    border-radius: 50%;
}

.wgButton {
    background-image: linear-gradient(to left, #3c86f9 0%, #ed88f0 45%, #ed88f0 50%, #ed88f0 55%, #3c86f9 100%);
    background-position: right;
    background-size: 200%;
    transition: background-position 1s;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 11px 53px;
}

.wgButton:hover {
    background-position: left;
    border: 1px solid #fff;
}

.wgButton:focus, .wgButton:active, .wgButton:active:focus {
    box-shadow: 0px 0px 3px #666 !important;
    border: 1px solid #fff !important;
}

.wgInputFieldWrapper {
    background-color: #666;
    background-image: linear-gradient(to left, #3c86f9 0%, #ed88f0 45%, #ed88f0 50%, #ed88f0 55%, #3c86f9 100%);
    background-position: right;
    background-size: 200%;
    transition: background-position 1s;
    padding: 0px 0px 2px 0px;
}

.wgInputFieldWrapper:hover, .wgInputFieldWrapper:active, .wgInputFieldWrapper:focus {
    /*background-image: linear-gradient(to left, #3c86f9 0%, #ed88f0 100%);*/
    background-position: left;
}

.wgInputField {
    background-color: #fff;
    border-radius: 0px;
    border: none;
}

.wgInputField:focus {
    border: none;
    box-shadow: none;
}


.invalid-feedback {
    display: block;
}
.logininfo{
    display: flex;
    justify-content: center;
}


/*
###################
###             ###
###   Top Nav   ###
###             ###
###################
 */

.wgNavMenu {

}

.wgNavMenu .wgNavProfile {
    margin: 0 0 15px 0;
}

.wgNavMenu .wgNavProfile span {
    color:#f28e1c;
}

.wgNavMenu .wgNavDashboard {

}

.wgNavMenu .wgNavDashboard span {
    color:#3f95f3;
}

.wgNavMenu .wgNavGroceryList {

}

.wgNavMenu .wgNavGroceryList span {
    color:#3f95f3;
}

.wgNavMenu .wgNavAppointment {

}

.wgNavMenu .wgNavAppointment span {
    color:#3f95f3;
}

.wgNavMenu .wgNavLogout {
    margin: 15px 0 0 0;
}

.wgNavMenu .wgNavLogout span {
    color:#f2235d;
}

.wgFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color:#f5f5f5;
}
