#dashContent{
display: flex;
    justify-content: space-around;
}
#content{
    display: flex;
    justify-content: space-around;
}

#workonprofile{

    background-color: darkgoldenrod;
    overflow: hidden;
    float: top;
    justify-content: center;

}
table, td{
    border: 0,5px solid black;
    border-collapse: separate;
    width: 80%;
}
tbody tr:nth-child(even){
    background-color: #e4ebf2;
    color:#000;
}

.profileinputhide {
    display: none;
}

.profileinputprefilled {

}

.paragraphDiv {
    margin: 80px 0 0 0;
}

#givennamechange:hover {
     cursor: pointer;
     color: #90EE90;
 }


#namechange:hover {
    cursor: pointer;
    color: #90EE90;
}

#emailchange:hover {
    cursor: pointer;
    color: #90EE90;
}




