#dashContent{
display: flex;
    justify-content: space-around;
}
#content{
    display: flex;
    justify-content: space-around;
}

#workonprofile{

    background-color: darkgoldenrod;
    overflow: hidden;
    float: top;
    justify-content: center;

}
