.wgChoiceOptions {
    display: flex;
    justify-content: space-around;
}

.wgChoiceOptions a {
    padding: 50px;
    width: 40%;
    text-align: center;
    color: #333;
    background-color: #ddd;
    border: 3px solid #fff;
    box-shadow: 0px 0px 5px #333;
    border-radius: 25px;
}

.wgChoiceOptions a:hover {
    text-decoration: none;
    background-image: linear-gradient(to bottom right, #ed88f0 0%, #3c86f9 100%);
    color: #fff;
}

.wgJoinSearchWrapper {
    /*text-align: center;*/
}

.wgchoiceerrormessages {
    text-align: center;
}

#wgsearchresult {
    margin: 10px 0 10px 0;
}

#wgsearchresult ul.wgsearchoutput {
    list-style: none;
    padding: 0 15px 0 15px;
    margin: 0px;
}

#wgsearchresult .wgsearchoutput .wgsearchrow {
    margin: 3px 0 3px 0;
}

#wgsearchresult .wgsearchoutput .wgsearchrow input[type="radio"] {
    display: none;
}

#wgsearchresult .wgsearchoutput .wgsearchrow label {
    padding: 4px 18px;
    color: #333;
    background-color: #ddd;
    border: 2px solid #fff;
    box-shadow: 0px 0px 3px #333;
    border-radius: 25px;
    width: 100%;
}

#wgsearchresult .wgsearchoutput  .wgsearchrow input[type="radio"]:checked+label {
    background-image: linear-gradient(to bottom right, #ed88f0 0%, #3c86f9 100%);
    color: #fff;
}

.wgchoicefail {
    display: none;
}

#wgsearchselectfail {
    display: none;
}

.wgWaitWrapper  {
    text-align: center;
    display: none;
}
.wgWaitWrapper span {
    font-size: 500%;
    margin: 40px 0 40px 0;
}


.wgJoinSuccessWrapper, .wgCreateSuccessWrapper {
    display: none;
    text-align: center;
}

.wgJoinSuccessWelcome, .wgCreateSuccessWelcome {
    font-weight: bold;
    font-size: 200%;
    margin: 20px 0 30px 0;
}


.wgJoinSuccessRedirect, .wgCreateSuccessRedirect {
    font-size: 150%;
}

.wgJoinSuccessRedirect .fa-chart-network, .wgCreateSuccessRedirect .fa-chart-network {
    color: #c09;
    margin: 0 0 0 5px;
}

#wgsearchsuccessflatsharename, #wgcreatesuccessflatsharename {
    margin: 10px 0 10px 0;
}
