#dashContent{
display: flex;
    justify-content: space-around;
}
#content{
    display: flex;
    justify-content: space-around;
}

#workonprofile{

    background-color: darkgoldenrod;
    overflow: hidden;
    float: top;
    justify-content: center;

}
table, td{
    border: 0,5px solid black;
    border-collapse: separate;
    width: 80%;
}
tbody tr:nth-child(even){
    background-color: #e4ebf2;
    color:#000;
}

.profileinputhide {
    display: none;
}

.profileinputprefilled {

}

.paragraphDiv {
    margin: 80px 0 0 0;
}

#givennamechange:hover {
     cursor: pointer;
     color: #90EE90;
 }


#namechange:hover {
    cursor: pointer;
    color: #90EE90;
}

#emailchange:hover {
    cursor: pointer;
    color: #90EE90;
}

#givennameworkonfail{
    display: none;


    width: 100%;
}

#nameworkonfail{
    display: none;
}

#emailworkonfail{
    display: none;
}
.givennameworkonfail{
    text-align: center;
}


.wgInputFieldWrapper_Show span.wgProfileUserActions,
.wgInputFieldWrapper_Show span.wgProfileUserActions span {
    background-color: unset;
    border-radius: unset;
    border: unset;
    display: inline-block;
    width: unset;
    height: unset;
    padding: unset;
    font-size: unset;
    font-weight: unset;
    line-height: unset;
    color: unset;
    background-clip: unset;
    transition: unset;
    float: right;
}

.wgInputFieldWrapper_Show span.wgProfileUserActions a.wguserleave {
    float: none;
    color: #999;
    padding: 0 0 0 5px;
    display: inline-block;
    transition: color 1s;
}
.wgInputFieldWrapper_Show span.wgProfileUserActions a.wguserleave:hover {
    color: #8658bf;
    text-decoration: none;
}
.wgInputFieldWrapper_Show span.wgProfileUserActions a.wguserleave span {
    color: #8658bf;
    float: none;

}

.wgInputFieldWrapper_Show span.wgProfileUserActions a.wguserleave.wgleavedisable,
.wgInputFieldWrapper_Show span.wgProfileUserActions a.wguserleave.wgleavedisable:hover,
.wgInputFieldWrapper_Show span.wgProfileUserActions a.wguserleave.wgleavedisable span {
    color: #999;
    cursor: default;
}

.wgInputFieldWrapper_Show span.wgProfileUserActions span {
    line-height: 1;
    font-weight: 900;
}


.profilechoiceerrormessages{
    text-align: center;
}

.wgerrormessages{
    display: none;
}


#wgProfileFlatshareLeaveSuccess {
    display: none;
}

#wgProfileFlatshareLeaveSuccess .wgLeaveSuccessWrapper {
    text-align: center;
}

#wgProfileFlatshareLeaveSuccess .wgLeaveSuccessWelcome {
    font-weight: bold;
    font-size: 200%;
    margin: 20px 0 30px 0;
}


#wgProfileFlatshareLeaveSuccess .wgLeaveSuccessRedirect {
    font-size: 150%;
}

#wgProfileFlatshareLeaveSuccess .wgLeaveSuccessRedirect .fa-chart-network {
    color: #c09;
    margin: 0 0 0 5px;
}


#wgPWReset {
    font-size: 110%;
    color: #5ebd44;
    font-weight: bold;
    display: none;
}
