#wgaddpurchase {
    display: none;
    margin: 3px 0;
}

#wgaddpurchase.wgpurchaseaddshow {
    display: inline-block;
}

.purchaseaddname{
    display: inline-block;
}
.purchaseaddcount{
    display: inline-block;
    margin-left: 5px;

}
.purchaseaddbutton {
    display: inline-block;
    margin-left: 5px;
    font-size: 160%;
}
.purchasecancelbutton{
    display: inline-block;
    margin-left: 5px;
    font-size: 160%;
    color: #f00;
}
.purchaseboughtbutton{
    display: inline-block;
    margin-left: 5px;
    font-size: 160%;
}
.purchasedeletebutton{
    color: #ff0000;
    display: inline-block;
    margin-left: 5px;
    font-size: 160%;
}
.wgpurchaseitemlist {
    margin: 20px 0 0 0;
    width: 100%
}
